[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
plotly = "*"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
xlrd = "*"
numpy = "*"
dash-bootstrap-components = "*"
dash-table = "*"
plotly-express = "*"
scikit-learn = "*"
gunicorn = "*"
dash-auth = "*"
gevent = "*"
tensorflow = "*"
matplotlib = "*"
dash-defer-js-import = "*"

[requires]
python_version = "3.8"
